<div class="container">
    <div class="row">
        <div class="col border border-dark" style="height: 65px;"></div>
        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>

        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>

        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>
    </div>
    <div class="row">
        <div class="col border border-dark" style="height: 65px;"></div>
        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>

        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>

        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>
    </div>
    <div class="row">
        <div class="col border border-dark" style="height: 65px;"></div>
        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>

        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>

        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>
    </div>

    <div class="row">
        <div class="col border border-dark" style="height: 65px;"></div>
        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>

        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>

        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>
    </div>
    <div class="row">
        <div class="col border border-dark" style="height: 65px;"></div>
        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>

        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>

        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>
    </div>
    <div class="row">
        <div class="col border border-dark" style="height: 65px;"></div>
        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>

        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>

        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>
    </div>

    <div class="row">
        <div class="col border border-dark" style="height: 65px;"></div>
        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>

        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>

        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>
    </div>
    <div class="row">
        <div class="col border border-dark" style="height: 65px;"></div>
        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>

        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>

        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>
    </div>
    <div class="row">
        <div class="col border border-dark" style="height: 65px;"></div>
        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>

        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>

        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>
        <div class="col border border-dark"></div>
    </div>
</div>